/* Contact Page Specific Styles */

/* Adjust form input and textarea styles if needed */
form .form-control {
    border-radius: 0.25rem;
    box-shadow: none;
    transition: border-color 0.3s ease;
}

form .form-control:focus {
    border-color: #006340;
    box-shadow: 0 0 0 0.2rem rgba(0, 99, 64, 0.25);
}

/* Styling the contact information section */
.col-md-6 h4 {
    
    margin-bottom: 20px;
}

.col-md-6 p {
    font-size: 1.1rem;
    margin-bottom: 15px;
}





/* Responsive adjustments */
@media (max-width: 767.98px) {
    .container.my-5 {
        padding: 0 15px;
    }
}


.Sidebarhome {
   
    padding: 8px 16px;
    padding-right: 150px;
    
   
   
   
   }
   
   
   .homeicon{
       margin-bottom: 4px;
       margin-right: 3px;
       
   }
   
   
   .sidebarhr {
       margin-bottom:px;
   }
   
   
   .shippingicon {
       margin-bottom: 2px;
       margin-right: 5px;
   }
   
   
   .contacticon {
       margin-bottom: 2px;
       margin-right: 5px;
   }
   
   .productsicon {
       margin-bottom: 2px;
       margin-right: 5px;
   }

   .sidebarcontact {
    padding-right: 130px !important;
    background-color: #006340 !important;
    color: white !important;
   }

   .Sidebarhome {
    background-color: white;
    border: none;
   }





   .sidebardelivery {
    background-color: white;
    border: none;
    margin-bottom: 280px;
   }

   .delivericon {
    margin-bottom: 2px;
    margin-right: 5px;
    margin-left: 6px;
   }


   .sidebarlogin {
    background-color: #006340 !important;
    color: white !important;
    padding-right: 10px !important;
   }


   .loginicon {
    margin-bottom: 2px;
    margin-right: 4px;
    
   }

   .sidebarlogin:hover {
    background-color: #006340;
    color: white;
   }

   .sidebarloginbtn {
    display: flex;
    justify-content: space-evenly;
   }


   .sidebarsignup {
    margin-left: 10px;
   }

   .btn-stockx{
    background-color: #006340 !important;
    color: white !important;
   }

   .btn-stockxsidebar{
    background-color: #006340 !important;
    color: white !important;
    padding-right: 125px;
   }

  