
.login-page {
    min-height: 100vh;
    background: linear-gradient(135deg, #f5f7fa, #e9ecef);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper {
    width: 100%;
    padding: 20px;
}


.login-card {
    max-width: 440px;
    margin: auto;
    background: #fff;
    border-radius: 20px;
    padding: 35px 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.12);
    animation: fadeIn 0.5s ease;
}


.login-card h2 {
    font-weight: 700;
    color: #111;
}


.form-control {
    height: 50px;
    border-radius: 12px;
    border: 1px solid #ddd;
    padding-left: 15px;
    font-size: 0.95rem;
}

.form-control:focus {
    border-color: #006340;
    box-shadow: 0 0 0 0.15rem rgba(0, 99, 64, 0.25);
}


.btn-login {
    background: #006340;
    color: #fff;
    font-weight: 600;
    padding: 12px;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background: #014d32;
    transform: translateY(-1px);
    color: white;
}

/* Links */
.login-card a {
    color: #006340;
    font-weight: 500;
    text-decoration: none;
}

.login-card a:hover {
    text-decoration: underline;
}


.backhome a {
    font-size: 0.9rem;
    color: #666;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
